{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for outlet in outlets %}
        <div class="col">
            <h1 class="outlet_status_title">{{ outlet.id }}</h1> 
            <h2 id="outlet-status-{{ outlet.id }}" class="text-danger">Inactive</h2>
        </div>
        {% endfor %}
    </div>
</div>

    <!---Turn this to be done entirely on browsers, i.e. no django funcs-->
    <script type="text/javascript">
        {% for activation in activations %}
        if ('{{ activation.is_active }}' === 'True') {
            {% for outlet in activation.outlet.all %}
                var s = $('#outlet-status-{{ outlet.id }}');
                s.removeClass('text-danger').addClass('text-success');
                console.log(s);
                s.text('Active');
            {% endfor %}
        }
        {% endfor %}
    </script>        

<div class="container">
    <div class="row">
      <div class="col">            
          <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Owner</th>
                    <th>Outlet</th>
                    <th>Activation Time</th>
                    <th>Deactivation Time</th>
                </tr>
            </thead>
            <tbody>
                {% for activation in activations %}  
                <tr>
                    <td>{{ activation.owner }}</td>
                    <td>
                        {% for outlet in activation.outlet.all %}
                        {{ outlet }} {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ activation.activation_time }}</td>
                    <td>{{ activation.deactivation_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
</div>
{% endblock %}
