
<ul class="nav justify-content-center">
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:index' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:activation_form' %}">Activate Outlet</a>
    </li>
    {% comment %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:logout' %}?next=/">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:login' %}">Login</a>
    </li>
    {% endcomment %}
    {% endif %}
</ul>


