<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard for managing outlets at the summer cottage </title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
          
            {# Include FontAwesome; required for icon display #}
            <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            
            {% if form %}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />       
            {% endif %}

          </head>
    <body>

        {% include 'dashboard/navbar.html' %}

        <div class='jumbotron'>
        {% block content %} {% endblock %}
        </div>
    </body>
</html>
